<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>



<!-- Home Page --> 
<section> 
  <% if (title == "Login") { %>
    <main>
        <body style="background-color:#FFD85C;"><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="display-2">Hello!</h1>
                        <br>
                        <h1 class="display-4">Please sign in <br> to enjoy all of <br> our benefits!</h1>
                    </div>                   
                    <div class="col-sm">
                        <div class="jumbotron bg-dark text-white">
                          <img src="./Assets/images/logo.png" alt="" style="width: 20%; float: right;">
                          <br><br><br><br><br><br>
                            <form action="index.html">
                                <div class="form-group">
                                  <label for="nameLabel">Username</label>
                                  <input type="text" class="form-control" id="nameLabel" placeholder="Username">
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Password</label>
                                  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                                </div>
                                <input type="submit" value="Login" class="btn btn-info"><br><br>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </main>
  <% } else { %>
  <% } %>
</section>



  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>