/* custom css goes here */

#circle {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 50%;
    background: white;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    position: absolute;
    top: 80px;
    right: 16px;
  }

.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
 }

.img-container { background-color: #000000; }
.img-container img { opacity: 0.5; }

